#!/bin/bash

# ssh -i ~/.ssh/home_screen 10.0.0.2


{{- /* 
# add new mode : 
cvt 1920 1080 60
xrandr --newmode "1920x1080_60.00"  172.80  1920 2040 2248 2576  1080 1081 1084 1118  -HSync +Vsync
xrandr --addmode VGA-0 1920x1080_60.00
xrandr --output VGA-0 --mode 1920x1080_60.00
 */}}

read -p "Do you want to extend screen?" -n 1 -r
echo
if [[ $REPLY =~ ^[Yy]$ ]]
then
	xrandr --newmode "distant" 85.25  1368 1440 1576 1784  768 771 781 798 -hsync +vsync
	xrandr --addmode VIRTUAL1 "distant"
	xrandr --output VIRTUAL1 --mode "distant"
	# xrandr --output VIRTUAL1 --right-of LVDS1
	xrandr --output VIRTUAL1 --pos 1920x156 # adjust for the mouse not to leave the screen on a corner
	x11vnc -display :0 -clip 1366x768+1920+156 -multiptr -forever < /dev/null &>/dev/null &
	disown "x11vnc -display :0 -clip 1366x768+1920+156 -multiptr -forever"
	# killall conky
	# conky < /dev/null &>/dev/null &
	# disown 'conky < /dev/null &> /dev/null'
fi

echo

# backup :
{{- /* works for folders if .name includes a "/" and .path does not have one at the end */}}

read -p "Do you want to backup?" -n 1 -r
echo
if [[ $REPLY =~ ^[Yy]$ ]]
then
	~/.bin/backup_scripts/soddy
else
	echo "you did not backup right now !"
fi
